body {
  background-color: #f5f5f1;
  color: #555555;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  width: 100%;
}

#page {
  background-color: #f5f5f1;
  width: 100%;
}

header {
  background-color: white;
  height: auto;
  width: 100%;
}

#logo {
  color: #ec632f;
  font-family: Times, serif;
  font-size: 42px;
  line-height: 0px;
  margin-left: 190px;
  display: inline-block;
}

.searchBox {
  height: auto;
  width: 33%;
  display: inline-block;
  margin-left: 20px;
  margin-right: 92px;
}

.search {
  width: 240px;
  height: 23px;
  color: black;
  font-size: 14px;
  padding: 6px 15px;
  border: 1px solid gray;
  border-radius: 2px;
}

.button {
  position: relative;
  height: 38px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
  padding: 7px 15px;
  left: -4px;
  border: 1px solid black;
  background-color: #4aa9c5;
  color: white;
  border-radius: 2px;
}

.signIn {
  list-style: none;
  height: auto;
  width: 33%;
  display: inline-block;
  color: #3e93c0;
}

.signIn ul {

}

.signIn li {
  display: inline;
  margin-right: 3px;
  padding: 8px;
  color: #3e93c0;
}

a:link {
  color: #3e93c0;
  text-decoration: none;
}

a:hover {
  color: #3e93c0;
  text-decoration: underline;
}

#signIn {
  border: 1px solid #3e93c0;
  border-radius: 2px;
  margin-right: 13px;
  color: #3e93c0;
}

#cart {
  color: #e1e3df;
  border-left: 1px solid #e1e3df;
  padding-top: -40px;
  padding-right: 50px;
  font-size: 10px;
  max-height: 35px;
  max-width: 35px;
  display: inline-block;
}

#cart img {
  max-height: 22px;
  max-width: 22px;
  display: inline-block;
  padding-left: -25px;
  vertical-align: bottom;
}

nav {
  list-style: none;
  height: 45px;
  width: 100%;
  line-height: 45px;
  border-top: 1px solid #e1e3df;
  border-bottom: 1px solid #e1e3df;
}

nav ul {
  display: inline;
  margin-left: 148px;
  }

nav li {
  display: inline;
  margin-right: 20px;
}

nav a:link {
  text-decoration: none;
}

nav a:hover {
  color: #ec632f;
  text-decoration: underline;
}

#content {
  /*background-color: blue;*/
  height: auto;
  width: 100%;
}

#wrapper1 {
  font-size: 12px;
  line-height: 1.6em;
  font-weight: bold;
  color: #555555;
  height: auto;
  width: auto;
  margin-left: 190px;
  display: inline-block;
  float: left;
}

h4 {
  padding-left: 10px;
}

li {
  list-style: none;
}

#aside1 {
  background-color: #f5f5f1;
  height: 40px;
  width: auto;
}

#aside1 p {
  text-decoration: none;
  color: #555555;
  font-weight: bold;
  padding-top: 12px;
}

#aside2 {
  background-color: #ffffff;
  border: 1px solid #555555;
  height: auto;
  width: auto;
  list-style: none;
  border-radius: 2px;
}

#aside2 li {

}

#aside3 {
  background-color: #f5f5f1;
  /*border: 1px solid #555555;*/
  height: 40px;
  width: auto;
}

#aside3 p {
  font-weight: bold;
  padding-top: 12px;
}

#aside4 {
  background-color: #ffffff;
  border: 1px solid #555555;
  padding-left: 10px;
  height: auto;
  width: auto;
  border-radius: 2px;
}

#swatches {
  text-decoration: none;
  margin-left: 0;
  padding-left: 0;

}

#red {
  background-color: red;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
}
#orange {
  background-color: #EE7D32;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

#yellow {
  background-color: #F3CC40;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

#green {
  background-color: #5FC42E;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

#blue {
  background-color: #5BCDF4;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

#lavender {
  background-color: #A950F4;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

#black {
  background-color: black;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  mmargin-right: 4px;
}

#white {
  background-color: white;
  border: 1px solid #555555;
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 4px;
}


#aside5 {
  background-color: #f5f5f1;
  border: 1px solid #555555;
  height: 600px;
  width: auto;
}

#wrapper2 {
  font-size: 12px;
  font-weight: bold;
  color: #555555;
  height: auto;
  width: 750px;
  margin-left: 15px;
  display: inline-block;
  float: left;
}

#allCategories {
  background-color: #f5f5f1;
  height: 40px;
  width: 710px;
}

#inventory {
}

#img {
  width: 224.984px;
  height: 178.656px;
  object-fit: cover;
  overflow: hidden;
}

.item {
  border: 1px solid #555555;
  border-radius: 2px;
  background-color: white;
  width: 224.984px;
  height: auto;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#itemLine1 {
  background-color: white;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: -30px;
  padding-left: 5px;
}

#itemLine2 {
  background-color: white;
  color: #78C041;
  padding: 0
}

#itemLine2 p {
  text-align: left;
}

#itemLine2 span {
  float: right;
}

#itemLine2 a:link {
  color: #AAAAAA;
  text-decoration: none;
}

#itemLine2 a:hover {
  color: #AAAAAA;
  text-decoration: underline;
}

#relatedTo {
  color: #3e93c0;
  background-color: #f5f5f1;
  float: left;
}

// Related to Whiskey Section
.bottom {
  font-size: 12px;
  width: 1000px;
  //border: 1px solid blue;
}

.bottom a:link {
  color: #57A6C1;
  text-decoration: none;
}

.bottom a:hover {
  color: #57A6C1;
  text-decoration: underline;
}

#relatedTo {
  color: #3e93c0;
  background-color: #f5f5f1;
}

#relatedLinks {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
  -moz-column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-count: 3;
  -webkit-column-gap: 10px;
  column-count: 3;
  column-gap: 10px;
  line-height: 1.4em;
  padding: 0 0 10px 0;
}

#relatedLinks li {
  padding: 0 0 10px 0;
}

.bottomButtons {
  display: inline-block;
  margin: 0;
  padding: 5px;
  font-size: 14px;
  color: 555555;
  text-decoration: none;
  background-color: Isabelline;
  //border: 1px solid #555555;
}

.disabled {
  color: #AAAAAA;
  background-color: Concrete;
}

.current {
  color: black;
  background-color: Isabelline;
}

footer {
  border-top: 1px solid #e1e3df;
}